QuizGame/.vs/QuizGame/v15/Server/sqlite3/storage.ide-wal
QuizGame/.vs/QuizGame/v15/Server/sqlite3/storage.ide-shm
QuizGame/.vs/QuizGame/v15/Server/sqlite3/storage.ide
QuizGame/.vs/QuizGame/v15/Server/sqlite3/db.lock
QuizGame/.vs/QuizGame/v15/.suo
QuizGame/QuizGame/obj/
QuizGame/QuizGame/bin/
